body {
  background-color: lightgray;
}
.main-container {
  background-color: #ffffff; /* White background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow with slight opacity */
  min-height: 100vh;
}
.form-check {
  text-align: left;
  margin: 0.625rem auto;
}
.content-container {
  min-height: 100vh;
}
.question b {
  margin-right: 8px;
  vertical-align: middle;
}
